.hero {
  position: relative;
  width: 326px;
  height: 89px;
  /* border: 1px solid red; */
  top: 100px;
  left: 7vw;
  display: flex;
}
.hero > h1 {
  font-weight: bolder;
}

.hero > h1 > .spanh1 {
  color: #ff7518;
}

.para {
  color: #ff7518;
}

.paragraph {
  position: absolute;
  width: 768px;
  height: 259px;
  top: 100px;
  font-weight: lighter;
}

.paragraph > p {
  position: absolute;
  font-weight: lighter;
  padding-top: 10px;
  font-family: Segoe UI;
  font-size: 26px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;

  font-family: Segoe UI;
  font-size: 26px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
}

.right {
  /* position: absolute; */
  width: 54vw;
  height: 1019px;
  /* border: 1px solid red; */
  top: -1890px;
  margin-left: 35vw;
  border-radius: 15px;
}

.right > .backgroundImage {
  background-image: url("../../assets/Group\ 253.jpg");
  width: 58vw;
  /* border: 1px solid red; */
  height: 3009px;
  /* top: -590px; */
  margin-top: -100px;
  margin-left: -150px;
  border-radius: 15px;
  background-repeat: no-repeat;
  z-index: 0;
}
.backgroundImage > img {
  position: absolute;
  margin-top: 280px;
  margin-left: 555px;
}

.paragr > p {
  width: 713px;
  height: 265px;
  margin-top: 800px;
  margin-left: -1000px;
  /* border: 1px solid black; */
  font-family: Segoe UI;
  font-size: 26px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;

  font-family: Segoe UI;
  font-size: 26px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
}

.ourmissions {
  position: relative;
  width: 582px;
  height: 278.71px;
  top: 1222px;
  left: 28vw;
  border-radius: 15px;
  background-color: #ff7518;
  display: flex;
  justify-content: center;
}
.black {
  position: absolute;
  width: 486.98px;
  height: 278.71px;
  background-color: #2f2f2f;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.img1 > img {
  position: absolute;
  width: 112.84px;
  height: 148.4px;
  top: -11px;
  /* left: 200px; */
}
.img1 > p {
  padding-top: 130px;
  text-align: center;
  color: #ffffff;
}

.ourvision {
  position: relative;
  width: 582px;
  height: 278.71px;
  top: 1300px;
  left: 28vw;
  border-radius: 15px;
  background-color: #ff7518;
  display: flex;
  justify-content: center;
}

.black1 {
  position: absolute;
  width: 486.98px;
  height: 278.71px;
  /* top: px; */
  /* left: 512.6px; */

  background-color: #2f2f2f;
}

.img2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.img2 > img {
  position: absolute;
  width: 112.84px;
  height: 148.4px;
  top: -11px;
  /* left: 200px; */
}

.img2 > p {
  padding-top: 10px;
  text-align: center;
  color: #ffffff;
}
.img2 > h3 {
  padding-top: 120px;
  color: #ffffff;
}

.goggles {
  position: absolute;
  background-image: url("../../assets/goggles.png");
  background-color: black !important;
  /* color: white; */
  position: absolute;
  width: 112.84px;
  height: 108.4px;
  top: 00px;
  /* left: 200px; */
  /* background-color: transparent; */
}
